BOT_TOKEN=TOKENNI_YOZING
CHANNEL_ID=-1003982845920
SUPER_ADMIN_ID=8557804362
APPROVER_IDS=8557804362
PUBLIC_BASE_URL=https://SIZNING-SERVER-MANZILINGIZ
WEBAPP_URL=https://SIZNING-SERVER-MANZILINGIZ/
HOST=0.0.0.0
PORT=8000
